@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
.App {
  text-align: center;
}
.dropdown-toggle::after {
  display: none !important;
}

#dropdown-basic {
  position: absolute !important;
  top: 0px !important; /* or any desired value */
  left: 0 !important; 
  border: 0;/* or any desired value */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dark-theme{
  --main-heading:#5f99be;
  --para-clr:#fff;
  --btn-bg-color:#5f99be;
  --second-color:#3C3E40;
  --btn-text-clr:#fff;
  --bg-clr:#303030;
}

.light-theme{
  --main-heading:#5f99be;
  --para-clr:#333;
  --btn-bg-color:#111b20;
  --second-color:#EAF3FA;
  --btn-text-clr:#fff;
  --bg-clr:#fff;
}
.navs{
  font-size: 24px;
  padding: 50px 0 0px;
  min-height: 160px;
  /* height: 160px;  */
}
.logo{
  float:left;
  position: absolute;
  width: 176px;
  height: 120px;
  left: 130px;
  top: 15px;
}

#Dark{
  float: center;
  width: 45px;
  height: 45px;
}
.links{
  text-decoration: none;
  color: var(--para-clr);
}
.text11{
  font-size: 18px;
  float: left;
  color: var(--para-clr);
  background-color: var(--bg-clr);
}
#pp{
  border-radius: 150px;
  width: 40px;
  height: 40px;
  margin:0 0px 0 10px;
  float: right;
}
.dd{
  text-decoration: none;
  color: black;
  /* color: var(--para-clr); */
}
nav{
  font-family: 'DM Sans', sans-serif;  
  background-color: var(--bg-clr);
  color:var(--para-clr);
}
.btn-land{
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
}
.btn-land:hover{
  background-color: #2a4aec;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.616);
}
#sign{
  background-color: #4F69EE;
  border: #4F69EE;
  color: #fff;
}
.dashb{
  font-family: 'DM Sans';
  min-height: 500px;
  text-align: left;
  /* font-weight: 700; */
  padding: 4vh 14vh 2vh 12vh ;
  background-color: var(--bg-clr);
  color: var(--para-clr);
}
.dashb{
  font-size: 20px;
} 
.object-preview{
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 2px;
  max-width: 250px;
  max-height: 200px;
  /* width: 250px; */
  box-shadow: 2px 4px 8px rgba(11, 11, 11, 0.616);
  background-color: var(--second-color  );
  margin: 2rem 2rem 2rem 0;
  text-align: center;
}
.object-preview:hover{
  box-shadow: 0px 4px 8px rgb(11, 11, 11);
}
.ob-detail{
  text-align: left;
  padding-top: 1.5rem;
  padding-left:6rem ;
  background-color: var(--bg-clr);
  color: var(--para-clr);
  min-height: 475px;
}
#obj-img{
  max-width: 200px;
  max-height: 200px;
  float: left;
}
.footer{
  bottom: 0;
  /* position: fixed; */
  left: 0;
  /* padding: 0px; */
  width: 100%;
  background-color: #333333;
  overflow: hidden;
}
.foots{
  padding: 5px 0 5px 15px;
  float: left;
  color: #fff;
}
#obj-add{
  margin: 10vh;
}
.type1{
  box-shadow: 2px 4px 8px rgba(11, 11, 11, 0.616);
}
#text{
  font-family: 'DM Sans', sans-serif;
  max-width: 780px;
  padding: 40px 50px 0 100px;
  text-align: left;
}
.text1{
  /* float: left; */
  color: var(--para-clr);
  background-color: var(--bg-clr);
}
#text2{
  font-family: 'DM Sans', sans-serif;
  max-width: 780px;
  padding: 40px 100px 0 50px;
  text-align: left;
  float: right;
}
#llog{
  border: solid #4F69EE 2px;
  color: #4F69EE;
  background-color: var(--bg-clr);
}
#laptop{
  margin: 30px 20px 50px 30px;
  padding-bottom: 10px;
  float: center;
  width: 288px;
  height: 288px;
  border-radius: 150px;
}
#hand{
  margin: 30px 20px 50px 30px;
  padding-bottom: 10px;
  float: center;
  width: 288px;
  height: 288px;
  border-radius: 150px;
}
#half{
  background-color: var(--second-color);
  color: var(--para-clr);
}